@model IEnumerable<StartupArticle>
@{

}
<h2>Home Page</h2>
<img src="~/content/static/Label-brochure-1.jpg" width="500" />
<div>
    <ul>
        @foreach(var startup in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="Startup" asp-route-id="@startup.Id">
                    @startup.Title
                </a>
            </li>
        }
    </ul>
</div>